<div fxLayoutAlign="center center" class="display-notes">
  <div (click)="fieldClick()" *ngIf="isTrue" fxLayout="column" class="take-note">
    <div class="title-div">
      <mat-card fxLayoutAlign="start center">
        <input class="add-note-input" matInput placeholder="Take a note...." />
      </mat-card>
    </div>
  </div>
  <div *ngIf="!isTrue" fxLayout="column" class="take-note">
    <div class="title-div">
      <mat-card fxLayoutAlign="start center">
        <input #txt class="add-note-input" matInput placeholder="Title" />
      </mat-card>
    </div>
    <div class="title-div">
      <mat-card fxLayoutAlign="start center">
        <input #desc class="add-note-input" matInput placeholder="Take a note...." />
      </mat-card>
    </div>
    <div class="title-div">
      <mat-card fxLayoutAlign="start center">
        <div fxLayout="row" style="width: 100%">
          <div fxLayout="row">
            <div>
              <app-colorpalette></app-colorpalette>
            </div>
            <div>
              <img matTooltip="Archive"
                width="70%" height="70%" style="cursor: pointer"
                src="../../../assets/images/outline_archive_black_18dp.png"
              />
            </div>
            <div>
              <mat-icon style="cursor: pointer;" matTooltip="Delete Note">delete_outline</mat-icon>
            </div>
          </div>
          <div fxLayoutAlign="end end" class="button" *ngIf="!isTrue">
            <button class="close-btn" (click)="buttonClick(txt, desc)">
              close
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>