<div fxLayoutAlign="center center" class="display-notes">
  <div (click)="fieldClick()" *ngIf="isTrue" fxLayout="column" class="take-note">
    <div class="title-div">
      <mat-card fxLayoutAlign="start center">
        <input class="add-note-input" matInput placeholder="Take a note...." />
      </mat-card>
    </div>
  </div>
  <div *ngIf="!isTrue" fxLayout="column" class="take-note">
    <div class="title-div">
      <mat-card fxLayoutAlign="start center">
        <input #txt class="add-note-input" matInput placeholder="Title" />
      </mat-card>
    </div>
    <div class="title-div">
      <mat-card fxLayoutAlign="start center">
        <input #desc class="add-note-input" matInput placeholder="Take a note...." />
      </mat-card>
    </div>
    <div class="title-div">
      <mat-card fxLayoutAlign="start center">
        <div fxLayout="row" style="width: 100%">
          <div fxLayout="row">
            <div>
              <app-colorpalette></app-colorpalette>
            </div>
            <div>
              <app-archive-icon></app-archive-icon>
            </div>
            <div>
              <app-delete-icon></app-delete-icon>
            </div>
          </div>
          <div fxLayoutAlign="end end" class="button" *ngIf="!isTrue">
            <button class="close-btn" (click)="buttonClick(txt, desc)">
              close
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>