<div>
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar" style="background-color: white">
      <div>
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxLayoutAlign="center center">
        <img style="padding-left: 20px; width: 30px; height: 30px; margin-top: 3%"
          src="../../../assets/images/keepIcon.jpg" alt="icon" />
      </div>
      <div>
        <h1 class="example-app-name">fundooNotes</h1>
      </div>
      <div class="search" fxLayout="row">
        <div class="img-icon" fxLayoutAlign="center center">
          <img width="45%" height="45%" style="color: gray; font-weight: 100"
            src="../../../assets/images/searchIcon.png" />
        </div>
        <div id="search-text-div">
          <input id="serach-input" type="text" placeholder="Search...." />
        </div>
      </div>
      <div (click)="imageClick()" class="userIcon" fxLayoutAlign="space-between end">
        <img src="../../../assets/images/userIcon.png" />
      </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" class="side-div">
        <mat-nav-list>
          <a class="Notes" mat-list-item routerLink="./note">
            <mat-icon>
              <img src="../../../assets/images/bulb.svg">
            </mat-icon>
            <mat-list-item>Notes</mat-list-item>
          </a>
          <a class="Notes" mat-list-item routerLink="./archive">
            <mat-icon>
              <img width="85%"
              height="85%"
              style="cursor: pointer"
              src="../../../assets/images/outline_archive_black_18dp.png">
            </mat-icon>
            <mat-list-item>Archive</mat-list-item>
          </a>
          <a class="Notes" mat-list-item routerLink="./trash">
            <mat-icon>delete_outline</mat-icon>
            <mat-list-item>Trash</mat-list-item>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-container>
  </div>
</div>
<div *ngIf="userLogin" class="logout-main">
  <mat-card class="logout-card-main">
    <div fxLayoutAlign="center center" class="logout-img-user">
      <img src="../../../assets/images/userIcon.png" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="user-details">
      <p style="display: contents">{{email}}</p>
      <p style="color: gray">{{firstName}}  {{lastName}}</p>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="center center" class="logout-btn">
      <button mat-raised-button (click)="logout()">LogOut</button>
    </div>
  </mat-card>
</div>