.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
  background-color: white;
}

h1.example-app-name {
  margin-left: 10px;
}

.example-sidenav-container {
  flex: 1;
  border: cornsilk;
  border-width: 2px;
  border-style: groove;
  background-color: white;
}

.side-div {
  width: 20%;
}

.userIcon {
  margin-left: 20%;
}

.search {
  display: flex;
  margin-left: 10%;
  width: 47%;
  height: 75%;
  border-radius: 10px;
  background-color: #f1f3f4;
  outline: none;
}

.example-sidenav-content {
  height: 100%;
  width: 100%;
}

.note-div {
  margin-top: 2%;
}

.Notes {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  opacity: 0.8;
  border-radius: 0px 20px 20px 0px;
  outline: none;
  border: none;
}

.Notes:hover {
  background-color: #feefc3;
}

#search-text-div {
  height: 100%;
  width: 90%;
}

#serach-input {
  height: 99%;
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}

.img-icon {
  width: 10%;
  height: 100%;
}

.logout-main {
  position: absolute;
  transform: translate(400%, 40%);
  z-index: 999;
}

.logout-card-main {
  width: 100%;
  height: 100%;
}

.logout-img-user {
  width: 230px;
}

.user-details {
  margin-top: 2%;
}

.logout-btn {
  padding-left: 3%;
  padding-right: 3%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .side-div {
    width: 40%;
  }

  .userIcon {
    margin-left: 10%;
  }

  #search-text-div {
    display: none;
  }

  #serach-input {
    display: none;
  }

  .search {
    width: 0%;
    height: 10%;
    border-radius: 10px;
    background-color: #f1f3f4;
    outline: none;
  }

  .logout-main {
    transform: translate(17%, 40%);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .logout-main {
    transform: translate(174%, 40%);
  }
}

@media only screen and (min-device-width: 1020px) and (max-device-width: 1300px) {
  .logout-main {
    transform: translate(273%, 40%);
  }
}

// @media only screen and (min-device-width: 411px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 1) {
//   .side-div{
//     width: 40%;
//   }

//   .userIcon {
//     margin-left: 21%;
//   }

//   #search-text-div {
//     display: none;
//   }

//   #serach-input {
//     display: none;
//   }

//   .search {
//     width: 0%;
//     height: 10%;
//     border-radius: 10px;
//     background-color: #f1f3f4;
//     outline: none;
//     background-color: red;
//   }

//   .logout-main{
//     position: absolute;
//     transform: translate(38%,40%);
//     z-index: 999;
//   }
// }
