.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
  background-color: white;
}

h1.example-app-name {
  margin-left: 10px;
}

.example-sidenav-container {
  flex: 1;
  border: cornsilk;
  border-width: 2px;
  border-style: groove;
  background-color: white;
}

.userIcon {
  margin-left: 15%;
}

.search {
  display: flex;
  margin-left: 10%;
  width: 35%;
  height: 55%;
  border-radius: 10px;
  background-color: #f1f3f4;
  outline: none;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.note-div {
  margin-top: 2%;
}

.Notes {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  opacity: 0.8;
  border-radius: 0px 20px 20px 0px;
}

.Notes:hover {
  background-color: #feefc3;
}

#search-text-div {
  height: 100%;
  width: 90%;
}

#serach-input {
  height: 99%;
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}

.img-icon {
  width: 10%;
  height: 100%;
}
