<div fxLayout="row wrap" fxLayoutAlign="start none">
    <div *ngFor="let note of notes"  class="sub-main">
        <div class="note-card-dive">
            <mat-card class="card-data" >
                <mat-card-content>
                    <p><b>{{note.title}}</b></p>
                    <p>{{note.description}}</p>
                    <div fxLayout="row">
                        <div>
                            <app-colorpalette></app-colorpalette>
                        </div>
                        <div>
                            <app-archive-icon (click)="addToArchive(note)"></app-archive-icon>
                        </div>
                        <div>
                            <app-delete-icon (click)="addToTrash(note)"></app-delete-icon>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>